<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan(%logger{50}) - %msg%n%rootException</pattern>
        </encoder>
    </appender>

    <logger level="INFO" name="com.github.kagkarlsson"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
