name: spring-boot-compatibility
on: [push]
jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        spring-boot: [ '2.7.18', '3.3.13', '3.4.5', '3.5.5' ]
    name: Spring Boot ${{ matrix.spring-boot }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Run Spring Boot tests
        run: mvn -B -Dspring-boot.version=${{ matrix.spring-boot }} -PspringBootDevelopment clean test --file pom.xml
        env:
          TZ: UTC
