name: pull-request-check
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '17' ]
    name: Temurin ${{ matrix.java }}
    steps:
    - uses: actions/checkout@v3

    - name: Set up Java ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: 'maven'

    - name: Run all tests
      run: mvn -B spotless:check
      env:
        TZ: UTC
